.slider-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
	margin: 300px auto 0;
}
img{
    width: 250px;
    height: 250px;
    opacity: 0.5;
    display: none;
    transition: 3s;
}
.slider{
    overflow: hidden;
}
.slider .active{
    display: block;
    opacity: 1;
    border: 7px solid orange;
    transition: .3s;
}
.buttons{
    margin: auto;
    text-align: center;
    margin: 20px 0;
}
.slider-dots{
    display: flex;
    justify-content: center;
    transition: .3s;
}
.slider-dot{
    width: 20px;
    height: 20px;
    border-radius: 15px;
    background-color: #ddd;
    margin-right: 10px;
}
.slider-dots .activedot{
    width: 30px !important;
    transition: .3s;
    background-color: black;
}
.slider-dot:hover{
    cursor: pointer;
}